<div class="container">
    <h1>Complete Status About Requests</h1>
    <label>Status:</label>
    <label>In Progress</label>
    <br>
    <label>Skillset:</label>
    <label>Java</label>
    <br>
    <label>No Of Resources:</label>
    <label>10</label>
    <br>
    <label>Designation:</label>
    <label>AO</label>
    <br>
    <label>Line Manager:</label>
    <label>ABC</label>
    <br>
    <label>Brass Id:</label>
    <label>INR123456</label>
    <br>
    <label>Department:</label>
    <label>Finance It</label>
    <br>
    <label>Profile Sourced:</label>
    <label>Names</label>
    <br>

    <label>Profile Shortlisted:</label>
    <label>names</label>
    <br>
    <label>Interview Schedule:</label>
    <label>Timings and date</label>
    <br>
    <label>Offers Rolled:</label>
    <label>Names </label>
    <br>
    <label>Date of Joining:</label>
    <label>dates</label>
    <br>

</div>
