<div class="row">
  <div class="col-lg-12">
    <table class="table table-bordered">
    <thead>
        <th>BRASSRINGID</th>
        <th>STATUS</th>
        <th>SKILLSET</th>
        <th>NOOFRESOURCES</th>
        <th>DEADLINE</th>
        <th>LINEMANAGER</th>
        <th>DESIGNATION</th>
        <th>PROFILESOURCED</th>
        <th>PROFILESHORTLISTED</th>
        <th>INTERVIEW</th>
        <th>OFFERSROLLED</th>
        <th>DATEOFJOIN</th>
      </thead>
      <tbody>
        <tr *ngFor="let user of Tabledata">
          <th *ngIf="user.id === editrowid"><input type="text" [(ngModel)]="user.BRASSRINGID"></th>
          <th *ngIf="user.id !== editrowid" (click)="Edit(user.id)">{{user.BRASSRINGID}}</th>
          <th *ngIf="user.id === editrowid"><input type="text" [(ngModel)]="user.STATUS"></th>
          <th *ngIf="user.id !== editrowid" (click)="Edit(user.id)">{{user.STATUS}}</th>
          <th *ngIf="user.id === editrowid"><input type="text" [(ngModel)]="user.SKILLSET"></th>
          <th *ngIf="user.id !== editrowid" (click)="Edit(user.id)">{{user.SKILLSET}}</th>
            <th *ngIf="user.id === editrowid"><input type="text" [(ngModel)]="user.NOOFRESOURCES"></th>
          <th *ngIf="user.id !== editrowid" (click)="Edit(user.id)">{{user.NOOFRESOURCES}}</th>
            <th *ngIf="user.id === editrowid"><input type="text" [(ngModel)]="user.DEADLINE"></th>
          <th *ngIf="user.id !== editrowid" (click)="Edit(user.id)">{{user.DEADLINE}}</th>
            <th *ngIf="user.id === editrowid"><input type="text" [(ngModel)]="user.LINEMANAGER"></th>
          <th *ngIf="user.id !== editrowid" (click)="Edit(user.id)">{{user.LINEMANAGER}}</th>
            <th *ngIf="user.id === editrowid"><input type="text" [(ngModel)]="user.DESIGNATION"></th>
          <th *ngIf="user.id !== editrowid" (click)="Edit(user.id)">{{user.DESIGNATION}}</th>
            <th *ngIf="user.id === editrowid"><input type="text" [(ngModel)]="user.PROFILESOURCED"></th>
          <th *ngIf="user.id !== editrowid" (click)="Edit(user.id)">{{user.PROFILESOURCED}}</th>
            <th *ngIf="user.id === editrowid"><input type="text" [(ngModel)]="user.PROFILESHORTLISTED"></th>
          <th *ngIf="user.id !== editrowid" (click)="Edit(user.id)">{{user.PROFILESHORTLISTED}}</th>
            <th *ngIf="user.id === editrowid"><input type="text" [(ngModel)]="user.INTERVIEW"></th>
          <th *ngIf="user.id !== editrowid" (click)="Edit(user.id)">{{user.INTERVIEW}}</th>
            <th *ngIf="user.id === editrowid"><input type="text" [(ngModel)]="user.OFFERSROLLED"></th>
          <th *ngIf="user.id !== editrowid" (click)="Edit(user.id)">{{user.OFFERSROLLED}}</th>
            <th *ngIf="user.id === editrowid"><input type="text" [(ngModel)]="user.DATEOFJOIN"></th>
          <th *ngIf="user.id !== editrowid" (click)="Edit(user.id)">{{user.DATEOFJOIN}}</th>
        </tr>


      </tbody>
    </table>
  </div>
</div>
<div>

    {{Tabledata | json}}

</div>
